html {
    background-image: url('../assets/route-.jpg');
    -webkit-background-size: cover;
    background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a{
    font-size: 30px;
    color: rgb(56, 176, 215);
}

.dataImg {
    height: 200px;
    width: 200px;

}
#dataUl{
    display: flex;
    flex-wrap: wrap;
}
.dataLi {
    display: flex;
    flex-direction: column;
}

.dataDiv {
    display: flex;
    flex-direction: column;
}
