html {
    background-image: url('../assets/route-.jpg');
    -webkit-background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

a {
    font-size: 30px;
    color: rgb(56, 176, 215);
}

.poke-img {
    height: 200px;
    width: 200px;

}
#poke-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.poke-li {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

.prop-values-wrapper {
    display: flex;
    flex-direction: column;
}

#play-again {
    color: darkviolet;
}

canvas {
    color: skyblue;
}

.graphs {
    display: flex;
    max-width: 50%;
    margin-bottom: 100px;
    margin-top: 50px;
}