/* add home page styles here */

body{
    background-image: url('../assets/oak-lab.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

input {
    display: none;
}

input:checked + img {
    border: solid black 3px;
}